# Installation et imports

### Installation des modules

In [3]:
%pip install Pandas

Collecting Pandas
  Downloading pandas-2.0.2-cp311-cp311-macosx_11_0_arm64.whl (10.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.7/10.7 MB 859.5 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/philippineangibaud/Library/Python/3.11/lib/python/site-packages (from Pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 671.2 kB/s eta 0:00:00a 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 622.2 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.11/site-packages (from Pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/philippineangibaud/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)
Installing collected packages: pytz, tzdata, Pandas
Successfully installed Pandas-2.0.2 pytz-2023.3 tzdata-2023.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install Matplotlib

Collecting Matplotlib
  Downloading matplotlib-3.7.1-cp311-cp311-macosx_11_0_arm64.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 804.5 kB/s eta 0:00:0000:0100:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.0-cp311-cp311-macosx_11_0_arm64.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.3/229.3 kB 1.3 MB/s eta 0:00:00a 0:00:01
Collecting cycler>=0.10
  Using cached cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.40.0-cp311-cp311-macosx_10_9_universal2.whl (2.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 964.9 kB/s eta 0:00:00:0100:010m
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-macosx_11_0_arm64.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.1/63.1 kB 1.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.20 in /opt/homebrew/lib/python3.11/site-packages (from Matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in /Users/philippineangibaud/Library/Python/3.11/lib/python/site-packages (from Matplotlib) (23.1)
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp311-cp311-macosx_11_0_arm64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 1.0 MB/s eta 0:00:0000:0100:010m
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.6/102.6 kB 1.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/philippineangibaud/Library/Python/3.11/lib/python/site-packages (from Matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/philippineangibaud/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->Matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, Matplotlib
Successfully installed Matplotlib-3.7.1 contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 pillow-9.5.0 pyparsing-3.1.0

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
%pip install Scikit-learn

Collecting Scikit-learn
  Downloading scikit_learn-1.2.2-cp311-cp311-macosx_12_0_arm64.whl (8.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 794.5 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/lib/python3.11/site-packages (from Scikit-learn) (1.24.3)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp311-cp311-macosx_12_0_arm64.whl (28.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 28.7/28.7 MB 848.4 kB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 464.6 kB/s eta 0:00:00a 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, Scikit-learn
Successfully installed Scikit-learn-1.2.2 joblib-1.2.0 scipy-1.10.1 threadpoolctl-3.1.0

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
%pip install Numpy

Requirement already satisfied: Numpy in /opt/homebrew/lib/python3.11/site-packages (1.24.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Import et données

In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib as plt
import math

In [56]:
data = pd.read_csv("../df.csv")

# Répartition des données

### Répartition des données en base d’apprentissage et de tests en utilisant les algorithmes holdout

In [65]:
from sklearn.model_selection import train_test_split

In [100]:
def holdout(dataframe,num_rep, train_s, test_s ):
        liste_data_train = []
        liste_data_test = []
        for i in range(num_rep):
                X_train, X_test = train_test_split(dataframe, train_size= train_s, test_size = test_s)
                liste_data_train.append(X_train)
                liste_data_test.append(X_test)
        return liste_data_train, liste_data_test

In [101]:
liste_data_train, liste_data_test = holdout(data,5, 0.8, 0.2)

In [82]:
print(data_test)

[       Unnamed: 0       Num_Acc num_veh  id_usa                 date  \
32189       32189  200900043764     A01  841016  2009-05-26 17:29:00
50509       50509  200900003658     A01  751442  2009-01-16 09:00:00
39981       39981  200900066602     A01  892306  2009-10-17 08:45:00
49324       49324  200900064753     A01  888185  2009-12-05 16:20:00
39524       39524  200900066456     A01  891993  2009-07-02 08:30:00
...           ...           ...     ...     ...                  ...
72848       72848  200900055842     A01  868207  2009-07-07 14:55:00
191           191  200900002262     A01  748479  2009-01-07 22:15:00
14575       14575  200900040547     B01  833985  2009-08-12 16:10:00
49646       49646  200900001440     A01  746808  2009-03-07 17:40:00
6714         6714  200900055388     A01  867156  2009-09-29 13:10:00

                     ville id_code_insee  latitude  longitude  descr_cat_veh  \
32189       FLEURY MEROGIS         91235   48.6333    2.36667              1
50509  ST SULPICE DE ROYAN         17409   45.6667   -1.01667              1
39981    ORNACIEUX BALBINS         38284   45.4000    5.21667              2
49324           THIONVILLE         57672   49.3667    6.16667              1
39524           GUYANCOURT         78297   48.7667    2.06667              1
...                    ...           ...       ...        ...            ...
72848      CIRES LES MELLO         60155   49.2667    2.36667              1
191                SICKERT         68308   47.7833    6.98333              1
14575                NANCY         54395   48.6833    6.20000              1
49646             PARIS 19         75119   48.8817    2.38340              1
6714      ST JEAN DE BRAYE         45284   47.9000    1.96667              3

       ... an_nais age place  \
32189  ...    1950  59     1
50509  ...    1946  63     1
39981  ...    1983  26     1
49324  ...    1953  56     2
39524  ...    1956  53     1
...    ...     ...  ..   ...
72848  ...    1969  40     1
191    ...    1990  19     1
14575  ...    1985  24     1
49646  ...    1955  54     1
6714   ...    1988  21     1

                                        descr_dispo_secu descr_grav  \
32189     Présence de ceinture de sécurité non utilisée           0
50509            Utilisation d'une ceinture de sécurité           3
39981            Utilisation d'une ceinture de sécurité           1
49324            Utilisation d'une ceinture de sécurité           1
39524  Présence d'une ceinture de sécurité - Utilisat...          0
...                                                  ...        ...
72848            Utilisation d'une ceinture de sécurité           0
191              Utilisation d'une ceinture de sécurité           0
14575            Utilisation d'une ceinture de sécurité           1
49646            Utilisation d'une ceinture de sécurité           0
6714   Présence d'un casque - Utilisation non détermi...          1

                  descr_motif_traj  \
32189  Utilisation professionnelle
50509          Promenade – loisirs
39981          Promenade – loisirs
49324          Promenade – loisirs
39524  Utilisation professionnelle
...                            ...
72848             Courses – achats
191            Promenade – loisirs
14575           Domicile – travail
49646  Utilisation professionnelle
6714                         Autre

                                       descr_type_col                region  \
32189                    Deux véhicules – Par le coté         Île-de-France
50509                                 Autre collision    Nouvelle-Aquitaine
39981                    Deux véhicules – Par le coté  Auvergne-Rhône-Alpes
49324  Trois véhicules et plus – Collisions multiples             Grand Est
39524                    Deux véhicules – Par le coté         Île-de-France
...                                               ...                   ...
72848                                  Sans collision       Hauts-de-France
191                         Deux véhicules - Frontale             Grand Est
14575                  Deux véhicules – Par l’arrière             Grand Est
49646                                 Autre collision         Île-de-France
6714                        Deux véhicules - Frontale   Centre-Val de Loire

              departement     NumericDate
32189             Essonne  20090526172900
50509   Charente-Maritime  20090116090000
39981               Isère  20091017084500
49324             Moselle  20091205162000
39524            Yvelines  20090702083000
...                   ...             ...
72848                Oise  20090707145500
191             Haut-Rhin  20090107221500
14575  Meurthe-et-Moselle  20090812161000
49646               Paris  20090307174000
6714               Loiret  20090929131000

[14727 rows x 25 columns],        Unnamed: 0       Num_Acc num_veh  id_usa                 date  \
60678       60678  200900040126     A01  833004  2009-09-25 22:55:00
58104       58104  200900031801     A01  814386  2009-06-05 18:37:00
7588         7588  200900071665     A01  903568  2009-09-11 14:30:00
70093       70093  200900028324     A01  806541  2009-09-09 14:00:00
25180       25180  200900020368     B01  788789  2009-09-07 10:00:00
...           ...           ...     ...     ...                  ...
38137       38137  200900061952     B01  881915  2009-06-10 01:00:00
59863       59863  200900040037     A01  832800  2009-08-27 14:10:00
63237       63237  200900049611     B01  854011  2009-11-21 10:30:00
64436       64436  200900059545     A01  876469  2009-12-02 10:13:00
9801         9801  200900009149     B01  763801  2009-06-18 11:35:00

                    ville id_code_insee  latitude  longitude  descr_cat_veh  \
60678  COURNON D AUVERGNE         63124   45.7500   3.216670              1
58104           ST PRIEST         69290   45.6917   4.933330              1
7588              HENDAYE         64260   43.3583  -1.775000              1
70093           LE FRECHE         40100   43.9333  -0.233333              3
25180            PARIS 13         75113   48.8283   2.362700              7
...                   ...           ...       ...        ...            ...
38137              DIEPPE         76217   49.9333   1.083330              1
59863    CLERMONT FERRAND         63113   45.7833   3.083330              1
63237              DENAIN         59172   50.3333   3.383330              1
64436               DIJON         21231   47.3167   5.016670              1
9801             PARIS 12         75112   48.8352   2.445800              1

       ... an_nais age place  \
60678  ...    1990  19     2
58104  ...    1987  22     1
7588   ...    1945  64     1
70093  ...    1960  49     2
25180  ...    1967  42     1
...    ...     ...  ..   ...
38137  ...    1963  46     1
59863  ...    1990  19     1
63237  ...    1982  27     2
64436  ...    1978  31     1
9801   ...    1982  27     1

                                        descr_dispo_secu descr_grav  \
60678            Utilisation d'une ceinture de sécurité           3
58104            Utilisation d'une ceinture de sécurité           0
7588             Utilisation d'une ceinture de sécurité           0
70093                           Utilisation d'un casque           2
25180  Présence d'un casque - Utilisation non détermi...          1
...                                                  ...        ...
38137            Utilisation d'une ceinture de sécurité           0
59863            Utilisation d'une ceinture de sécurité           0
63237            Utilisation d'une ceinture de sécurité           1
64436     Présence de ceinture de sécurité non utilisée           0
9801             Utilisation d'une ceinture de sécurité           0

                  descr_motif_traj                  descr_type_col  \
60678          Promenade – loisirs                 Autre collision
58104          Promenade – loisirs                 Autre collision
7588   Utilisation professionnelle       Deux véhicules - Frontale
70093          Promenade – loisirs                  Sans collision
25180           Domicile – travail    Deux véhicules – Par le coté
...                            ...                             ...
38137  Utilisation professionnelle    Deux véhicules – Par le coté
59863                        Autre                 Autre collision
63237          Promenade – loisirs                 Autre collision
64436          Promenade – loisirs                 Autre collision
9801   Utilisation professionnelle  Deux véhicules – Par l’arrière

                        region           departement     NumericDate
60678     Auvergne-Rhône-Alpes           Puy-de-Dôme  20090925225500
58104     Auvergne-Rhône-Alpes                 Rhône  20090605183700
7588        Nouvelle-Aquitaine  Pyrénées-Atlantiques  20090911143000
70093       Nouvelle-Aquitaine                Landes  20090909140000
25180            Île-de-France                 Paris  20090907100000
...                        ...                   ...             ...
38137                Normandie        Seine-Maritime  20090610010000
59863     Auvergne-Rhône-Alpes           Puy-de-Dôme  20090827141000
63237          Hauts-de-France                  Nord  20091121103000
64436  Bourgogne-Franche-Comté             Côte-d'Or  20091202101300
9801             Île-de-France                 Paris  20090618113500

[14727 rows x 25 columns],        Unnamed: 0       Num_Acc num_veh  id_usa                 date  \
38481       38481  200900060977     A01  879696  2009-09-25 23:45:00
55309       55309  200900019904     A01  787721  2009-01-11 03:30:00
44484       44484  200900059799     B01  877037  2009-09-04 09:00:00
42727       42727  200900022411     R18  793212  2009-01-07 15:15:00
60301       60301  200900039817     B01  832307  2009-06-02 19:30:00
...           ...           ...     ...     ...                  ...
62023       62023  200900048487     A01  851490  2009-09-29 09:30:00
72870       72870  200900058645     A01  874466  2009-10-16 18:26:00
29375       29375  200900031921     A01  814655  2009-06-13 22:20:00
54317       54317  200900017166     A01  781624  2009-01-16 16:20:00
40646       40646  200900068366     A01  896287  2009-10-20 13:15:00

                      ville id_code_insee  latitude  longitude  descr_cat_veh  \
38481                  LENS         62498   50.4333    2.83333              3
55309          LA MULATIERE         69142   45.7333    4.80000              1
44484           COULOMMIERS         77131   48.8167    3.08333              1
42727  ST MARCEL LES SAUZET         26312   44.5833    4.80000              1
60301      CLERMONT FERRAND         63113   45.7833    3.08333              3
...                     ...           ...       ...        ...            ...
62023                NANTES         44109   47.2167   -1.55000              1
72870           MONTPELLIER         34172   43.6000    3.88333              1
29375               LYON 07         69387   45.7487    4.85250              3
54317          MARSEILLE 02         13202   43.2995    5.37020              3
40646                JOIGNY         89206   47.9833    3.40000              1

       ... an_nais age place  \
38481  ...    1989  20     5
55309  ...    1970  39     1
44484  ...    1989  20     1
42727  ...    1940  69     1
60301  ...    1960  49     1
...    ...     ...  ..   ...
62023  ...    1967  42     1
72870  ...    1949  60     1
29375  ...    1988  21     1
54317  ...    1972  37     1
40646  ...    1977  32     1

                                        descr_dispo_secu descr_grav  \
38481                           Utilisation d'un casque           1
55309            Utilisation d'une ceinture de sécurité           2
44484            Utilisation d'une ceinture de sécurité           0
42727            Utilisation d'une ceinture de sécurité           2
60301                           Utilisation d'un casque           1
...                                                  ...        ...
62023  Présence d'une ceinture de sécurité - Utilisat...          0
72870            Utilisation d'une ceinture de sécurité           0
29375                           Utilisation d'un casque           2
54317                           Utilisation d'un casque           0
40646            Utilisation d'une ceinture de sécurité           1

                  descr_motif_traj                       descr_type_col  \
38481                        Autre         Deux véhicules – Par le coté
55309          Promenade – loisirs                      Autre collision
44484           Domicile – travail  Trois véhicules et plus – En chaîne
42727          Promenade – loisirs  Trois véhicules et plus – En chaîne
60301                        Autre                      Autre collision
...                            ...                                  ...
62023  Utilisation professionnelle                      Autre collision
72870           Domicile – travail                       Sans collision
29375           Domicile – travail         Deux véhicules – Par le coté
54317           Domicile – travail                      Autre collision
40646          Promenade – loisirs         Deux véhicules – Par le coté

                           region       departement     NumericDate
38481             Hauts-de-France     Pas-de-Calais  20090925234500
55309        Auvergne-Rhône-Alpes             Rhône  20090111033000
44484               Île-de-France    Seine-et-Marne  20090904090000
42727        Auvergne-Rhône-Alpes             Drôme  20090107151500
60301        Auvergne-Rhône-Alpes       Puy-de-Dôme  20090602193000
...                           ...               ...             ...
62023            Pays de la Loire  Loire-Atlantique  20090929093000
72870                   Occitanie           Hérault  20091016182600
29375        Auvergne-Rhône-Alpes             Rhône  20090613222000
54317  Provence-Alpes-Côte d'Azur  Bouches-du-Rhône  20090116162000
40646     Bourgogne-Franche-Comté             Yonne  20091020131500

[14727 rows x 25 columns],        Unnamed: 0       Num_Acc num_veh  id_usa                 date  \
322           322  200900002310     B02  748581  2009-01-09 19:00:00
45375       45375  200900007816     D04  760851  2009-03-11 19:30:00
39779       39779  200900067813     B01  895044  2009-10-20 14:35:00
63408       63408  200900051513     B01  858320  2009-12-18 07:30:00
55744       55744  200900021513     A01  791169  2009-02-14 09:45:00
...           ...           ...     ...     ...                  ...
59632       59632  200900038239     A01  828692  2009-10-21 15:40:00
5825         5825  200900039306     B02  831140  2009-01-06 16:45:00
15306       15306  200900050950     A01  857025  2009-05-09 11:30:00
8326         8326  200900000150     A01  744219  2009-01-18 23:00:00
15896       15896  200900060844     B01  879403  2009-08-18 15:55:00

                        ville id_code_insee  latitude  longitude  \
322                 CINTHEAUX         14160   49.0500  -0.283333
45375  VILLENEUVE LA COMTESSE         17474   46.1000  -0.500000
39779                 CRUSNES         54149   49.4333   5.916670
63408                    LONS         64348   43.3167  -0.400000
55744         ST GELY DU FESC         34255   43.7000   3.800000
...                       ...           ...       ...        ...
59632                  EVREUX         27229   49.0167   1.150000
5825                      RIS         63301   46.0000   3.500000
15306     NIELLES LES BLEQUIN         62613   50.6667   2.016670
8326                 PARIS 20         75120   48.8632   2.400100
15896                  LIEVIN         62510   50.4167   2.766670

       descr_cat_veh  ... an_nais age place  \
322                1  ...    1983  26     1
45375              1  ...    1958  51     1
39779              1  ...    1948  61     1
63408              1  ...    1971  38     1
55744              1  ...    1978  31     1
...              ...  ...     ...  ..   ...
59632              1  ...    1987  22     1
5825               1  ...    1974  35     1
15306              3  ...    1982  27     1
8326               1  ...    1943  66     1
15896              1  ...    1962  47     1

                                        descr_dispo_secu descr_grav  \
322              Utilisation d'une ceinture de sécurité           2
45375  Présence d'une ceinture de sécurité - Utilisat...          0
39779            Utilisation d'une ceinture de sécurité           2
63408  Présence d'une ceinture de sécurité - Utilisat...          1
55744            Utilisation d'une ceinture de sécurité           0
...                                                  ...        ...
59632  Présence d'une ceinture de sécurité - Utilisat...          0
5825             Utilisation d'une ceinture de sécurité           1
15306                           Utilisation d'un casque           2
8326   Présence d'une ceinture de sécurité - Utilisat...          0
15896            Utilisation d'une ceinture de sécurité           0

          descr_motif_traj                                  descr_type_col  \
322     Domicile – travail                       Deux véhicules - Frontale
45375   Domicile – travail  Trois véhicules et plus – Collisions multiples
39779     Courses – achats                    Deux véhicules – Par le coté
63408  Promenade – loisirs                                 Autre collision
55744  Promenade – loisirs                                 Autre collision
...                    ...                                             ...
59632  Promenade – loisirs                                 Autre collision
5825   Promenade – loisirs                       Deux véhicules - Frontale
15306  Promenade – loisirs                  Deux véhicules – Par l’arrière
8326   Promenade – loisirs                  Deux véhicules – Par l’arrière
15896  Promenade – loisirs                  Deux véhicules – Par l’arrière

                     region           departement     NumericDate
322               Normandie              Calvados  20090109190000
45375    Nouvelle-Aquitaine     Charente-Maritime  20090311193000
39779             Grand Est    Meurthe-et-Moselle  20091020143500
63408    Nouvelle-Aquitaine  Pyrénées-Atlantiques  20091218073000
55744             Occitanie               Hérault  20090214094500
...                     ...                   ...             ...
59632             Normandie                  Eure  20091021154000
5825   Auvergne-Rhône-Alpes           Puy-de-Dôme  20090106164500
15306       Hauts-de-France         Pas-de-Calais  20090509113000
8326          Île-de-France                 Paris  20090118230000
15896       Hauts-de-France         Pas-de-Calais  20090818155500

[14727 rows x 25 columns],        Unnamed: 0       Num_Acc num_veh  id_usa                 date  \
64131       64131  200900054823     A01  865862  2009-10-27 09:45:00
5274         5274  200900039416     A01  831389  2009-09-11 17:30:00
24345       24345  200900018228     A01  783998  2009-07-23 14:45:00
69678       69678  200900021499     A01  791137  2009-02-07 03:45:00
14528       14528  200900048313     B01  851106  2009-07-23 12:35:00
...           ...           ...     ...     ...                  ...
66894       66894  200900069422     A01  898659  2009-05-29 17:40:00
58945       58945  200900034549     A01  820428  2009-09-04 16:15:00
460           460  200900006502     B02  757891  2009-01-28 10:30:00
14577       14577  200900040573     A01  834040  2009-08-19 08:25:00
55749       55749  200900021600     A01  791342  2009-06-15 08:30:00

                           ville id_code_insee  latitude  longitude  \
64131                      FUMEL         47106   44.5000   0.966667
5274          MARCILLY SUR TILLE         21383   47.5167   5.133330
24345  LA VILLENEUVE AU CHATELOT         10421   48.5503   3.611950
69678                    POUZOLS         34215   43.6167   3.500000
14528                     NANTES         44109   47.2167  -1.550000

In [83]:
from sklearn.model_selection import LeaveOneOut

In [110]:

LOO = LeaveOneOut()

for train_index, test_index in (L00.split(data)):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    print(X_train, X_test, y_train, y_test)

LeaveOneOut()

NameError: name 'L00' is not defined

### Classification avec KNN

In [108]:
#on va prendre en entrée une ligne du df
def KnnClassification(ligne,df):
    dictList = [None] * len(df)
    first10 = []
    for index, row in df.iterrows():
        dictList[index] = np.linalg.norm(ligne - row)
    
    sorted_values = sorted(enumerate(dictList), key=lambda x: x[1])[:10]
    for index,value in sorted_values:
        first10.append([df.loc[index],value])
    return first10

### test du knn

In [59]:
data = data[['descr_grav','descr_cat_veh','age']]
data.head()

   descr_grav  descr_cat_veh  age
0           0              2   40
1           0              1   50
2           0              1   49
3           0              1   52
4           0              1   58

In [109]:
#data = pd.read_csv("../df.csv")
#print(data.loc[65])
print('__')
t = KnnClassification(data.loc[65],data)

__

In [103]:
t

[[descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 65, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 84, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 185, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 745, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 796, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 828, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 836, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 839, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 853, dtype: int64,
  0.0],
 [descr_grav        0
  descr_cat_veh     1
  age              44
  Name: 1558, dtype: int64,
  0.0]]

In [57]:
a = 'f*o'

for e in a:
    print(ord(e))

102
42
111